html
  body
    include:markdown-it some.md
    script
      include:custom(opt='val' num=2) include-filter-coffee.coffee
    script
      include:custom(opt='val' num=2) include-filter-coffee.coffee
