extends ../layout/specific_layout

block append head
    script(src='/vendor/three.js')
    script(src='/game.js')

block prepend head
    script(src='/vendor/three2.js')
    script(src='/game2.js')

append head
    script(src='/vendor/three3.js')
    script(src='/game3.js')

prepend head
    script(src='/vendor/three4.js')
    script(src='/game4.js')