- let showMessage = true
- if(showMessage === true)
    p This is true
- else
    p This is false

- let isTrue = showMessage === true
- if(isTrue)
    p This is still true
- else
    p This is still false
