- let greeting = 'hello'
p= greeting
- const factor = 2
- let nums = [1,2,3]
ul
  - nums.forEach(function(n){
    - let doubled = n * factor
    li= doubled
  - })
- const letters = ['a','b']
ul
  each l in letters
    li= l
