mixin book(price)
    p #{price}€

- var foo = {"bar":"1"}
- var bar = [1,2,4]

+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
- foo.bar = 2
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(foo.bar)
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])
- bar[1]=678
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])
+book(bar[1])


