-var page = 5
ul#menu
  li: a(href="/browse?page=" + (page - 1)) Previous page
  li: a(href="/browse?page=" + (page + 1)) Next page

-page = "5"
ul#menu2
  li: a(href="/browse?page=" + (page - 1)) Previous page
  li: a(href="/browse?page=" + (page + 1)) Next page
-page = 5
ul#menu3
  li: a(href="/browse?page=" + page - 1) Previous page
  li: a(href="/browse?page=" + page + 1) Next page

-page= "5"
ul#menu4
  li: a(href="/browse?page=" + page - 1) Previous page
  li: a(href="/browse?page=" + page + 1) Next page