mixin book(name, price)
  p #{name}: #{price}€

- var title = "Book A"
- var letter = "A"
- var price = 20
- var foo = {"bar":"1"}
- var soldout = true

+book("Book A", 1.3)
+book(title, "2,00")
+book('Book,A', price)
+book("Book"+ ',A', !soldout)
+book("Book "+ letter, foo.bar+",00")
+book("Book "+ letter, foo.bar)